<%= link_to "Home", root_path %>
<%= link_to "About", home_about_path %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Space Shit</a>
    </div>

      <ul class="nav navbar-nav navbar-right">

          </ul>
    </div><!-- /.navbar-collapse -->
<!-- /.container-fluid -->
</nav>
