
@import "bootstrap";
* {
    font-family: 'Inknut Antiqua', serif;
}

h1 {
    text-align: center;
    padding: 10px 0px 10px 0px;
    color: #544108;
}

a.btn.btn-primary {
    background-color: #2E0854;

}

.btn-primary {
    border-color: #2E0854;
}

.btn-primary:hover {
    border-color: #2E0854;
}

input.btn.btn-primary {
    background-color: #2E0854;

}

body {
    background-color: #2E0854;
}

div.card-body {
    height: 500px;
    background-color: #544108;
}

.card-img-top {
    padding-top: 50px;
    background-color: #2E0854;   
}
