
@import "bootstrap";
*{
    font-family: 'Inknut Antiqua', serif;
}

h1 {
    text-align: center;
    padding: 10px 0px 10px 0px;
    color: #544108;
}

body {
    background-color: #2E0854;
}

div.card-body {
    padding-bottom: 10px;
    height: 500px;
    background-color: #544108;
}
